.layout .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.layout .logo img {
    width: 200px;
    padding-top: 80px;
    padding-bottom: 20px;
}
