@import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:300,300i,400,400i,500,500i,700");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* img {
    width: 50px;
    height: 50px;
} */
/* 
html {
    
    font-size: 46px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

:root {
    --color-shadow: #c1bdb4;
    --color-very-light-shade-of-orange-red: black;
    --color-lightblue: rgba(253, 253, 216, 1);
    --color-red: rgb(255, 107, 107);
    --color-black: black;
    --color-gray: rgb(27, 26, 26);
    --color-blue: rgba(79, 123, 235, 0.5);
}

body {
    overflow-x: hidden;
    background-image: url(./API/Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} */
